@media only screen and (max-width: 993px) {
    .topSection {
        margin-top: 150px;
    }
}

.tableDiv {
    display: block;
}

.sub-tap-menu {
    margin-bottom: 20px;
}

.page-title-heading {
    letter-spacing: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    margin-bottom: 20px;
}


.lParent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /*  not necessary, just to visualize it */
  .lParent {
    height: 300px;
    border: 1px solid black;
    /*background-color: #0071bd;*/
    background: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .productShowcaseTitle {
    flex: 0 0 100%; /* Let it fill the entire space horizontally */
    height: 50px;
    color: aliceblue;
    font-size: 1.5rem;
    line-height: 55px;
    text-align: center;
    background-color: #065e99;
    opacity: 0.9;
  }

  .litem:hover {
    background-color: #fafafa;
    color: #222;
  }

  .selected {
    background-color: #fafafa;
    color: #222;
  }

  .img-fluid {
    font-size: 1.2rem;
  }
  .col-auto {
    font-size: 1rem;
  }

  @media only screen and (max-width: 768px) {
    .lmenu {
      display: none;
    }
    .col-auto {
      width: 30%;
    }
    .img-fluid {
      font-size: 1rem;
    }
  }

  .loc-info2 {
      padding-bottom: 70px;
  }

  .loc-info2 > li .txt {
    display: block;
    margin-top: 20px;
    border-top: 2px solid #333;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
    color: #666666;
}

.loc-info2 > li .txt em {
  display: inline-block;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  text-align: center;
  background: #0052A4;
  font-style: normal;
  margin-right: 10px;
  margin-top: 4px;
  vertical-align: top;
}

.loc-info2 > li .txt b {
  font-weight: 300;
}

.addIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.mb50 {
    margin-bottom: 50px !important;
}

.txt > a {
  text-decoration: none;
  color: #222;
}

.txt > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* The Modal (background) */
#image-viewer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  z-index: 999;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#image-viewer .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#image-viewer .close:hover,
#image-viewer .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 993px){
  .modal-content {
    width: 100%;
  }
}