<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="150x150" th:href="@{../assets/images/favicon/favicon_icon-150x150.png}">
    <link rel="stylesheet" th:href="@{/assets/css/lib/bootstrap.min.css}"/>
    <title>호서대학교 AI+X 관리자 페이지</title>
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
</head>
<body>
<script>
    function beSubmit() {
        $("#ta-2").text($("#ta-1").val());
    }
</script>
<section class="vh-100 gradient-custom" layout:fragment="content">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form th:action="@{/aDFvMXMxZTFv/login}" method="post" onsubmit="beSubmit();">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">
                                        <h4>사용자ID 또는 비밀번호를 확인해 주세요.</h4>
                                    </div>
                                </div>
                                <h2 class="fw-bold mb-2 text-uppercase">로그인</h2>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="username">아이디</label>
                                    <input type="text" name="username" id="username" class="form-control form-control-lg"/>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="password">비밀번호</label>
                                    <input type="password" name="password" id="password" class="form-control form-control-lg"/>
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/assets/js/lib/jquery-3.6.0.js}"></script>
<script th:src="@{/assets/js/lib/bootstrap.min.js}"></script>
</body>
</html>