<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="150x150" th:href="@{./assets/images/favicon/favicon_icon-150x150.png}">
  <title>message</title>
  <script th:inline="javascript">
    let message = [[${message}]];
    alert(message);

    let postId = [[${postId}]];
    //게시글 수정이 아닐경우
    if( postId === '' || postId === undefined || postId == null || (postId != null && typeof postId === 'object' && Objects.keys(postId).length < 1)){
      location.replace([[${searchUrl}]]);
    }
    else { //게시글 수정일경우 수정된 글로 redirect
      let boardtype = [[${boardType}]];
      if (boardtype == "notice")
        location.replace("/aDFvMXMxZTFv/notice/md");
      else if (boardtype == "resource")
        location.replace("/aDFvMXMxZTFv/resource/md");
      else
        location.replace("/aDFvMXMxZTFv/business/md");
    }

    history.pushState(null, null, location.href);
    window.onpopstate = function(event) {
      history.go(1);
    };
  </script>
</head>
<body>
</body>
</html>