<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>호서대학교 AI+X 연구센터</title>
    <link rel="icon" type="image/png" sizes="150x150" th:href="@{./assets/images/favicon/favicon_icon-150x150.png}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/lib/core.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/lib/bootstrap5_3_1.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
      <style>
         html, body {
            font-family: "Pretendard-Regular";
         }
         fieldset {
             border: 1px groove #ddd !important;
             padding: 0 1.4em 1.4em 1.4em !important;
             margin: 0 0 1.5em 0 !important;
             -webkit-box-shadow:  0px 0px 0px 0px #000;
             box-shadow:  0px 0px 0px 0px #000;
         }
         legend {
             font-size: 1.2em !important;
             font-weight: bold !important;
             text-align: left !important;
             width:auto;
             padding:0 10px;
             border-bottom:none;
         }
         .fileList a {
             color: black;
         }
      </style>
   </head>

   <body>
      <!-- Section: Header -->
      <header class="header">
         <div class="container">
            <section class="wrapper">
                <h2><a href="index" class="brand"><img src="./assets/images/호서대로고_로고.png" style="width: 270px; margin-right: 10px; float: left;"/></a></h2>
               <button type="button" class="opened-menu">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
               </button>
               <div class="overlay"></div>
               <nav class="navbar">
                  <button type="button" class="closed-menu">
                     <img src="./assets/images/closed.svg" class="closed-icon" alt="closed">
                  </button>
                  <ul class="menu">
                     <li class="menu-item menu-item-has-children">
                        <a href="./info" data-toggle="sub-menu">연구센터 소개 <i class="expand"></i></a>
                        <ul class="sub-menu">
                           <li class="menu-item"><a href="./info">연구센터 소개</a></li>
                           <li class="menu-item"><a href="./director">센터장 인사말</a></li>
                           <li class="menu-item"><a href="./vision">비전 및 전략</a></li>
                           <li class="menu-item"><a href="./road">찾아오시는 길</a></li>
                        </ul>
                     </li>
                     <li class="menu-item"><a href="./professor">참여 교수</a></li>
                     <li class="menu-item"><a href="./mainbusiness">주요 성과</a></li>
                     <li class="menu-item menu-item-has-children">
                        <a href="./notice" data-toggle="sub-menu">게시판 <i class="expand"></i></a>
                        <ul class="sub-menu">
                           <li class="menu-item"><a href="./notice">공지사항</a></li>
                           <li class="menu-item"><a href="./resource">자료실</a></li>
                        </ul>
                     </li>
                  </ul>
               </nav>
            </section>
         </div>
      </header>
      <!-- Section: Main -->
      <main class="main">
         <div class="container">
            <div class="row mb-4 topSection" style="z-index: 0;">
                <div class="tableDiv">
                  <nav class="sub-tap-menu">
                        <h2 class="page-title-heading text-center text-dark"></h2>
                  </nav>
                  <div class="col-lg-12">
                    <div class="ArticleContentBox">
                      <div class="article_header">
                        <div class="ArticleTitle">
                          <h3 class="title_text" th:text="${testboard.title}"></h3>
                        </div>
                        <div class="WriterInfo">
                          <div class="profile_info" th:text="관리자"></div>
                          <div class="article_info"><span class="date" th:text="${testboard.regdate}"></span></div>
                        </div>
                      </div>
                      <div class="article_container">
                        <div class="article_viewer">
                        </div>
                      </div>
                    </div>

                    <div th:if="${fileCounts > 0}" class="fileList">
                        <fieldset class="border p-2">
                            <legend class="w-auto fs-6">첨부파일</legend>
                            <div th:each="file : ${files}" class="shadow-none p-2 rounded">
                                <div style="padding: 0 10px;"><a href='javascript:void(0);' th:text="${file.name}" th:attr="onclick=|downloadAs('${thisUrl}${file.fakename}', '${file.name}')|"></a></div>
                            </div>
                        </fieldset>
                    </div>

                      <script th:inline="javascript">
                          /*<![CDATA[*/
                          const contents = [[${testboard.origcontent}]];
                          const viewArea = document.querySelector('.article_viewer');
                          viewArea.insertAdjacentHTML('beforebegin', contents);
                          /*]]>*/
                      </script>

                    <div class="btn_list">
                     <span><input type="button" class="button-black" value="목록으로" onclick="location.href='./notice'"></span>
                  </div>
                </div>
               </div>
            </div>

            <footer class="row py-3 mt-3 border-top">
               <div class="col-md-12">
                   <div class="mb-3"><a href="https://www.hoseo.ac.kr/Home/Main.mbz" target="_blank" style="display:inline-block"><img src="./assets/images/호서대로고_블랙.jpg" width="200"/></a></div>
                 <a href="http://www.hoseo.ac.kr/Home/Contents.mbz?action=MAPP_1708310223" target="_blank">개인정보처리방침</a><br/>
                 <label class="mt-3">아산캠퍼스 : 충청남도 아산시 배방읍 호서로79번길 20 (우)31499 TEL:<a href='tel:041-540-5114'>041-540-5114</a></label><br/>
                 <label>천안캠퍼스 : 충청남도 천안시 동남구 호서대길 12 (우)31066 TEL:<a href='tel:041-560-8114'>041-560-8114</a></label>
                 <p class="text-muted">COPYRIGHT(C)2023 HOSEO UNIVERSITY ALL RIGHTS RESERVED.</p>
               </div>
             </footer>
            </div>
      </main>

      <link rel="stylesheet" th:href="@{/assets/css/view.css}"/>
      <script th:src="@{/assets/js/lib/jquery-3.6.0.js}"></script>
      <script th:src="@{/assets/js/lib/core-init.js}"></script>
      <script th:src="@{/assets/js/lib/bootstrap5_3_1.min.js}"></script>
      <script th:src="@{/assets/js/lib/axios.min.js}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
      <script th:src="@{/assets/js/script.js}"></script>
      
</body>
</html>